include ../mixins/mixins

div.page
  div.page__inner
    own-header
    div.page__content
      div.landing-title
        h1 Расширьте аудиторию Вашего кинотеатра
      div.page__content-inner
        div.register-inner
          register-form