<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Server=tcp:ue2jp23dar.database.windows.net,1433;Database=moviedb;User ID=qwerty@ue2jp23dar;Password=Q!w2e3r4t5;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="show_sql">true</property>
  </session-factory>
</hibernate-configuration>